<!DOCTYPE html>
<html>
<head>
<title> bus list </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="static/buslist.css">
</head>
<body>


  {% load static %}
  
  
  
  
  {%block main-content%}


  <meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="static/buslist.css">
<title>Allbus</title>
</head>
   
  <div id="wrapper">
    <div class="container">
      <div class="row">
        <div class="split left col-md-6">
          <div class="sidebar-item">
            <div class="make-me-sticky">
              <div class="centered">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for bus.." title="Type in a name">
                
                <ul id="myUL">
                  {% for bus in buses %}
                  <li><a href="{% url 'bus_details' bus.id %}">{{bus.bus_name}}</a></li>
                  {% endfor %}
                  

                
                  
                </ul>
                  <div class="navbar">
                  <a href="{% url 'Allbus' %}" id="floatLeft" class="active" >All bus</a>
                  <a href="{% url 'index' %}" class="floatRight" >Home</a>
                      <a href="{% url 'addBuses' %}" class="floatRight" >Add Bus</a>
                </div>
             </div>
            </div>
          </div>
  
         </div>
         <div class="split right col-md-6">
             <div class="center">
               <div class="centereTop">
                 <h2 id="busName" class="text-center">Bus Name</h2>
               </div>
             
                 <p class="station"><span id="from">Start</span> - <span id="to">End</span> <span id="RouteNO" style="display: block;margin: 2px">RouteNo: N/A</span></p>
             
             
             <div class="textBox busRoute">
               <ul class="busRoutes">
                   <li>Start</li>
                   <li>Station</li>
                   <li>Station</li>
                   <li>End</li>
                 </ul>
             </div>
             </div>
         </div>
      </div>
    </div>
  </div>
  
  {%endblock main-content%}


