{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please Sign Up</title>
    <!-- Link to your signup.css file -->
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
</head>
<body>

<div class="center-content"> <!-- Center the content -->
    <div class="form-container">
        <h2>Please Sign Up</h2> <!-- Updated title -->
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="password_confirmation">Confirm Password:</label>
                <input type="password" id="password_confirmation" name="password_confirmation" required>
            </div>
            <button type="submit" class="btn">Sign Up</button>
        </form>
        <div class="additional-links">
            <p>Already have an account? <a href="{% url 'login' %}" class="login-btn">Log in here</a></p>
        </div>
    </div>
</div>

</body>
</html>
